// sidebar
$menuText:white;
$menuActiveText:white;
$subMenuActiveText:white; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#1C1C1C; // 设置侧边栏背景颜色
$menuHover:DeepSkyBlue; // 设置一级菜单的悬浮色

$subMenuBg:#1C1C1C; // 设置子菜单的背景色
$subMenuHover:DeepSkyBlue; // 设置一级菜单的悬浮色

$activeBg: DeepSkyBlue; // 设置选中菜单的背景色
$sideBarWidth: 240px; // 设置侧边栏宽度

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  activeBg: $activeBg;
  sideBarWidth: $sideBarWidth;
}
